.admin {
  background: linear-gradient(90deg,
  rgba(5, 46, 75, 0.8),
  rgba(0, 0, 0, 0.3) 80%),
url("photos/headlineadmin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
}