.catalogue {
  background: linear-gradient(90deg,
  rgba(5, 46, 75, 0.8),
  rgba(0, 0, 0, 0.3) 80%),
url("photos/headlinecatalogue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
}

.catalogue-container {
  display: grid;
  grid-template-columns: 2.2fr 7.8fr;
  gap: 40px;
  width: 100%;
}

.owl-carousel {
  margin-bottom: 21px;
}

.accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 17px;
  transition: 0.4s;
  font-family: "Inter", sans-serif;
  padding: 0;
  line-height: 1;
}

.accordion:after {
  content: '\f078';
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-family: FontAwesome;
}

.turnedon:after {
  content: "\f077";
}

.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  height: fit-content;
  min-height: 0;
}

.filter {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.65em;
  cursor: pointer;
}

.filter-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 1em;
  height: 1em;
  border: 1px solid #041f35;
  border-radius: 3px;
  display: grid;
  place-content: center;
  transform: translateY(0.2em);
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: '\f00c';
  font-family: FontAwesome;
  font-size: 10px;
  font-weight: 600;
}

input[type="checkbox"]:checked {
  background: #041f35;
  color: #f3f4f6;
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  align-items: baseline;
}

.filter-line {
  display: grid;
  grid-template-columns: 9fr 1fr;
  gap: 10px;
  width: 100%;
  margin-bottom: 6px;
}

.filter-line:last-child {
  margin-bottom: 0px;
}

.filters-container {
  background: #fff;
  border-radius: 6px;
  height: auto;
  padding: 18px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 20px;
}

.count {
  color: #818f9a;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}

.easepick-wrapper {
  z-index: 999999;
  font-family: 'Inter'!important;
}

#datepicker {
  width: 100%;
  border: 1px solid #041f35;
  border-radius: 4px;
  outline: 0;
  height: fit-content;
  padding: 6px;
  padding-left: 27px;
  margin-bottom: 4px;
  font-family: 'Inter'!important;
  font-weight: 500!important;
  color: #041f35;
}