.preset-button,
.unit,
.preset-plugin-container>button,
.container {
  font-family: 'Inter' !important;
  font-weight: 500 !important;
}

.container {
  border: 1px solid #041f35;
  margin-top: 10px;
}

:host {
  --color-fg-default: #041f35;
  --color-bg-secondary: #f5f8fb;
  --color-fg-accent: #0c67ab;
  --primary-color: #041f35;
  --color-fg-primary: #041f35;
  --color-bg-inrange: #f5f8fb;
}

.start, .end {
  background: #0c67ab!important;
}

.start::after {
  border-left: 8px solid #0c67ab!important;
}

.end::after {
  border-right: 8px solid #0c67ab!important;
}

.preset-button {
  background: #f5f8fb !important;
}

.container.show {
  box-shadow: 0px 0px 20px 0px rgba(12, 102, 171, 0.1);
}

.calendars .calendar>.header .month-name select {
  font-size: 14px;
  padding: 3px;
  padding-right: 4px;
  margin-right: 6px;
  font-family: 'Inter' !important;
  font-weight: 600;
  color: #041f35;
  border-radius: 3px;
  border: 1px solid #041f35;
}

.container.amp-plugin .calendars .calendar>.header .month-name select.month-name--dropdown {
  font-weight: 600
}

.calendar>.days-grid>.day.selected {
  background: #0c67ab
}

.container.range-plugin .calendar>.days-grid>.day.end.flipped:after {
  border-right-color: transparent!important;
  border-left-color: var(--color-fg-accent);
}

.container.range-plugin .calendar>.days-grid>.day.start.flipped:after {
  border-left-color: transparent!important;
  border-right-color: var(--color-fg-accent);
}

.container.preset-plugin>main.preset-left .preset-plugin-container {
  border-right: 1px solid #041f35;
}

.calendar>.header button {
  padding: 3px 3px;
}