.submission {
  background: linear-gradient(90deg,
      rgba(5, 46, 75, 0.8),
      rgba(0, 0, 0, 0.3) 80%),
    url("photos/headlinesubmission.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
}

.submission-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  flex-wrap: nowrap;
  height: 1fr;
  margin-bottom: 20px;
  margin-top: 25px;
}

.submission-item {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 16px;
}

.submission-item:last-child {
  margin-bottom: 0;
}

label, select {
  display: block;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
  width: 100%;
}

input[type="url"], input[type="text"], input[type="password"], #creationdate, select, textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #041f35;
  font-family: 'Inter'!important;
  font-size: 14px;
  color: #041f35;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
}

textarea {
  max-width: 100%;
  resize: none;
  height: calc(100% - 37px);
}

select {
  padding: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input[type="url"], input[type="text"], input[type="submit"], .submit, input[type="password"], #creationdate, select, textarea {
  width: 100%!important;
}

input {
  margin-bottom: 0;
}

input[type="url"] {
  padding-left: 27px;
}

#creationdate, #submissiondate {
  width: 100%;
  padding-left: 27px;
}

select:invalid { color: #818f9a; }
select option { color: #041f35; }

.image-uploader {
  min-height: 12rem!important;
  background: #fff;
  border: 1px solid #041f35!important;
  border-radius: 4px;
  position: relative;
  cursor: pointer!important;
  margin-top: -4px!important;
}

.image-uploader .uploaded .uploaded-image img {
  border-radius: 4px;
  border: 1px solid #041f35!important;
}

.image-uploader .uploaded .uploaded-image .delete-image {
  background: #fff!important;
  border: 1px solid #041f35!important;
  top: .5rem!important;
  right: .5rem!important;
}

.image-uploader .uploaded .uploaded-image .delete-image i {
  color: #041f35!important;
}

.user-input {
  display: flex;
  gap: 10px;
  margin-bottom: 11px;
  margin-top: 6px
}

.add_button, .remove_button {
  background: #0c67ab;
  color: #f3f4f6;
  border: none;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 21px;
  transition: all 0.7s ease-in-out;
  width: fit-content!important;
}

.remove_button {
  background: #CC0001;
}

.add_button:hover, .remove_button:hover, .submit:hover {
  color: #f3f4f6!important;
  background: #0a5993;
  cursor: pointer;
}

.remove_button:hover {
  background: #b30001;
}

.submit {
  background: #0c67ab;
  color: #f3f4f6;
  border: 0;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Inter'!important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px!important;
  text-align: center;
  width: 100%;
  display: block;
}

input:disabled, select:disabled, input::placeholder, textarea:disabled {
  cursor: not-allowed!important;
  background-color: rgba(239, 239, 239, 0.3)!important;
  border-color: rgba(118, 118, 118, 0.5)!important;
  opacity: 1;
}

select:disabled {
  opacity: 1;
  background-color: rgba(239, 239, 239, 0.3)!important;
  border-color: rgba(118, 118, 118, 0.5)!important;
  color: rgb(84, 84, 84, 0.7)!important;
}

textarea:disabled, input[type="url"]:disabled {
  border-color: rgba(118, 118, 118, 0.5)!important;
  background-color: rgba(239, 239, 239, 0.3)!important;
  opacity: 1;
}

.modal, .modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999999; /* Sit on top */ 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  animation: fade 0.2s ease-in-out;
}

.modal-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #fff;
  margin: auto;
  border: 1px solid #888;
  width: 30%;
  z-index: 9999999999;
  border-radius: 4px;
  box-shadow: 5px 5px 20px 0px rgba(12, 102, 171, 0.14);
  animation: fade 0.2s ease-in-out;
}

.modal-header {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding-left: 15px;
  padding-right: 9px;
  padding-top: 11px;
  padding-bottom: 7px;
}

.modal-body {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #CCD2D6;
  border-bottom: 1px solid #CCD2D6;
}

.modal-footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.modal-body textarea {
  height: 200px;
}

.modal-header h4 {
  font-weight: 600;
  display: block;
}

.close, .close2 {
  text-align: right;
  font-size: 25px;
  line-height: -1;
}